
#create-room {
    display: none;
}

#join-room {
    display: none;
}

#enter-code {
    display: none;
}

#room {
    display: none;
}

#room-expired {
    display: none;
}

#your-opponent-left {
    display: none;
}

#play-online {
    display: none;
}

#waiting-room {
    display: none;
}

#app {
    width: 200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

p {
    margin: 0;
}